<nav class="navbar-top navbar-dark bg-dark">
  <div class="container-fluid">
      <div class="row justify-content-between">
          <div class="col col-md-2 col-sm-6">
              <div class="day-time">
                  <span style="color: #A2A6B0;">Mon-Thu:</span> 9:00 AM - 5:30 PM
              </div>
          </div>
          <div class="col col-md-2 col-sm-6">
              <div class="day-time">
                  Call Us: (00) 1234 5678
              </div>
          </div>
      </div>
  </div>
</nav>
<nav class="navbar navbar-expand-lg">
    <div class="container">
      <div class="logo">
        <img style="width: 33.47px; height: 40.05px" src="../../assets/_images/Vector 24.png">
      </div>
     
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="gadget-names collapse navbar-collapse " id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Laptops</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Desktops PCs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Networking Devices</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Printers & Scanners</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">PC Parts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">All Other Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Printers & Scanners</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>