@import '../../variable.scss';

.navbar{

    padding-left: 13%;
    font-size: 11px;
    font-weight: 600;
    padding-top: 13px;
}

.navbar-expand-lg .navbar-nav .nav-link {

    color: black !important;
}

