@import '../../variable.scss';

.navbar{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 5px;
}

.navbar-expand-lg .navbar-nav .nav-link {

    color: black !important;
}

.col{
    justify-content: center;
    align-items: center;
    display: flex;
}


.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}
.navbar-toggler {
  font-size: 20px !important;
  padding: 0px !important;
  border: none;
}

