@import '../../variable.scss';

.navbar{
    width: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
}

.navbar-expand-lg .navbar-nav .nav-link {

    color: black !important;
}

.col{
    justify-content: center;
    align-items: center;
    display: flex;
}

.gadget-names{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    padding: 5px;
    // padding-left: 60px
}

