<div class="container-fluid about-product">
  <div class="container">
    <div class="row product-row" *ngFor="let name of Getproductdetails">
      <div class="col-md-1 "></div>
      <div class="col-md-5">
        <div class="about-product-text">
           <span class="lineborder"> About Product</span>
        </div>
        <div class="apple-product-text">
          <p>APPLE PRODUCTS</p>
          
        </div>
        <div class="product-name">
          {{ name.productName }}
        </div>
        <div class="product-name-feature">
          <p> It’s magic, remastered!</p>
        </div>
        <div class="product-description">
          <div [innerHTML]="name.productDescription"></div>
        </div>
        <div class="product-id">
          <p>SKU D5515AI</p>
          
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5">

        <div class="product-feature d-flex align-items-end">
          <div class="d-flex align-items-center" style="padding: 40px">
            <div>Price {{ name.productPrice | currency}}</div>
            <input #quantity class="quantity" id="quantity" type="number" max="3" min="1" value="1" />
            <button class="buy-now-button" (click)="pay(quantity.value)">Buy Now</button>
          </div>
        </div>

        

        <div class="">
          <div
            id="carouselInterval"
            class="carousel slide"
            data-bs-ride="carousel"
            data-interval="3000"
          >
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img
                  src="../../assets/_images/image1.png"
                  class="d-block w-100"
                  alt="Loading image"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../assets/_images/image 2.png"
                  class="d-block w-100"
                  alt="Loading images"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../assets/_images/image3.png"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../assets/_images/image4.png"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
            </div>
            <!-- <ul class="carousel-indicator" style="list-style-type:circle;">
                            <li date-target="carouselInterval" data-slide-to="0" class="active carousel-dots"></li>
                            <li date-target="carouselInterval" data-slide-to="1" class="carousel-dots"></li>
                            <li date-target="carouselInterval" data-slide-to="2" class="carousel-dots"></li>
                            <li date-target="carouselInterval" data-slide-to="3" class="carousel-dots"></li>
                        </ul>
                    -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
