<div class="container-fluid about-product">
  <div class="container">
    <div class="row product-row">
      <div class="col-md-1 "></div>
      <div class="col-md-5 pad-100">
        <div class="about-product-text">
           <span class="lineborder"> About Product</span>
        </div>
        <div class="apple-product-text">
          <p>APPLE PRODUCTS</p>
          
        </div>
        <div class="product-name">
          {{ productDetails.productName }}
        </div>
        <div class="product-name-feature">
          <p> It’s magic, remastered!</p>
        </div>
        <div class="product-description">
          <div [innerHTML]="productDetails.productDescription"></div>
        </div>
        <div class="product-id">
          <p>SKU D5515AI</p>
          
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5">

        <div class="product-feature">
          <div class="d-flex align-items-end">
            <div class="d-flex align-items-center" style="padding: 25px; margin-left: auto">
              <div>Price {{ productDetails.productPrice | currency}}</div>
              <input #quantity class="quantity" id="quantity" type="number" max="3" min="1" value="1" />
              <button class="buy-now-button" (click)="pay(quantity.value)">Buy Now</button>
            </div>
          </div>
        </div>
      
        <div class="carousel">
          <div id="carouselInterval" class="carousel slide" data-bs-ride="carousel" data-interval="3000">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img
                  src="../../assets/_images/image1.png"
                  class="d-block w-100"
                  alt="Loading image"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../assets/_images/image 2.png"
                  class="d-block w-100"
                  alt="Loading images"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../assets/_images/image3.png"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../assets/_images/image4.png"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
            </div>
            <div class="carousel-indicators" style="list-style-type:circle;">
              <!-- <ul>
                <li type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide1"></li>
                <li type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></li>
                <li type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></li>
                <li type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></li>
              </ul> -->
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
            </div>
                   
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mob-product-feature">
  <div class="align-items-end">
    <div class="align-items-center d-flex stretch-action-item">
      <div class="aling-price-and-quantity">
        <div>Price {{ productDetails.productPrice | currency}}</div>
        <input #productquantity class="quantity" id="quantity" type="number" max="3" min="1" value="1" />
      </div>
      <div class="pull-right">
        <button class="buy-now-button" (click)="mobpay(productquantity.value)">Buy Now</button>
      </div>
    </div>
  </div>
</div>
