/* You can add global styles to this file, and also import other style files */
@import "./variable.scss";

body {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    background: #fff;
}

.navbar-top {
    width: 100%;
    background-color: $background;
    justify-content: center;
    display: flex;
    padding: 10px;
}

.navbar .logo {
    padding: 10px 0;
}

#navbarTogglerDemo02 { 
    margin-left: 35px;
}

.nav-item {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: $primary;
    padding: 30px 5px;
}

.col{
    justify-content: center;
    align-items: center;
    display: flex;
}

.day-time{
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: $background !important;
}

.about-product-text{
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    align-items: center;
    color: #666666;
    padding: 40px 40px 40px 0px
}

.lineborder{
    border-bottom: 2px solid #0156FF;
}

.pad-100 {
    padding-bottom: 100px;
}

.apple-product-text{
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #A2A6B0;
    margin-top: 64px
}

.product-name{
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    color: $primary;
}

.product-name-feature{
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: $primary;
}

.product-description{
    font-weight: 300;   
    font-size: 14px;
    line-height: 24px;
    color: $primary;
}

.product-id{
    font-size: 12px;
    line-height: 18px;
    color: $primary;
}

.product-price{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: $primary;
}

.quantity{
    border: none;
    box-shadow: none;
    background: #F5F7FF;
    border-radius: 6px;
    padding: 10px;
    margin-left: 10px;
   
}

.buy-now-button{
    background: #0156FF;
    border-radius: 50px;
    box-shadow: none;
    border: none;
    color: $background;
    padding: 10px;
    margin-left: 20px;
    padding-left: 35px;
    padding-right: 35px
}

.carousel-indicator{
    // width:  6px;
    // height: 6px;
    // border-radius:100%;
}

.carousel-inner {
    margin-top: 80px;
}


.stretch-action-item {
    justify-content: space-between;
    padding: 25px; 
    margin-left: auto;
}

@media screen and (min-width: 768px){
    .mob-product-feature {
        display: none !important;
    }
}

@media screen and (max-width: 767px) { 
    .navbar-top {
        position: fixed;
        z-index: 1;
    }
    .navbar{
        margin-top: 2rem;
        position: fixed;
        z-index: 1;
        border-bottom: 2px solid #c9c4c4;;
        background-color: #FFFFFF;
    }
    .apple-product-text{
        display: none;
    }
    .product-feature{
        display: none;
    }
.product-row{
    flex-direction: column-reverse;
}
.mob-product-feature {
    position: fixed;
    z-index: 9999;
    bottom: 0;
    background: #fff;
    width: 100%;
}
}

.aling-price-and-quantity {
    display: inline-flex;
    align-items: center!important;
}


